html
    head
        title Pomodoro App!
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet" type="text/css" href="css/reset.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        .control
            div.ion-ios-navigate-outline#trigger
            div#settings
                div.notification CLICK THE ICON TO START/END!
                h1 POMODORO
                input(type="number" placeholder="Session Time")#sessiontime
                h2 MINUTES
                input(type="number" placeholder="Break Time")#breaktime
                h2 MINUTES
        .static
            .land
            .progress
                .mask#prog
        script(src="script.js")
