html
    head
        title Pomodoro App
        link(rel="stylesheet" type="text/css" href="css/reset.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        div.art
            div.land
            div#tree1
        div.context
            div.heading POMODORO!
