html
    head
        title Calculator Project
        link(type="text/css" rel="stylesheet" href="css/style.css")
    body
        h1 The Calculator Projectx
        div.calculator
            div.display
            div.numpad
                div.btn 1
                div.btn 2
                div.btn 3
                div.btn 4
                div.btn 5
                div.btn 6
                div.btn 7
                div.btn 8
                div.btn 9
                div.btn CE
                div.btn 0
                div.btn =
