html
    head
        title Calculator Project
        link(type="text/css" rel="stylesheet" href="css/style.css")
    body
        h1 The Calculator Projectx
        div.calculator
            input(type="text").display
            div.numpad
                div.btn(data-value="1") 1
                    div.func
                        div.add
                        div.sub
                        div.mul
                        div.div
                div.btn(data-value="2") 2
                div.btn(data-value="3") 3
                div.btn(data-value="4") 4
                div.btn(data-value="5") 5
                div.btn(data-value="6") 6
                div.btn(data-value="7") 7
                div.btn(data-value="8") 8
                div.btn(data-value="9") 9
                div.btn(data-value="clear") CE
                div.btn(data-value="0") 0
                div.btn(data-value="solve") =

        script(src="js/script.js")
