html
    head
        title Calculator Project
        link(type="text/css" rel="stylesheet" href="css/style.css")
    body
        h1 The Calculator Projectx
        div.calculator Is this oxygen txt?
            h1 I think so
            h3 can you breath this text?
            h5 OFCOURSE WHY NOT OMG OMG WUTS WRONG WID U TRAITOR!111
            p H4x0r!!11
