

$screenbreak : 1050px
$light-size: 70em
@font-face
    font-family: plexi
    src: url(../media/plexifont.ttf)



=flex($type, $direction, $position)
    display: $type
    flex-flow: $direction
    justify-content: $position

body
    +flex(flex, column wrap, flex-start)
    overflow: hidden

    .art
        color: #FFF
        +flex(flex, column wrap, center)
        width: 100%
        height: 100vh
        background: linear-gradient(#000 -15%, #5CBF9B 30%, #FFCE84)
        .land
            z-index: 100
            position: absolute
            width: 100%
            height: 100vh
            background: url('../media/land.svg') no-repeat
            background-size: 100%
            background-position: center
            @media screen and (max-width: $screenbreak)
                background-position: bottom
        #tree1
            z-index: 90
            position: absolute
            bottom: -200px
            min-width: 300px
            min-height: 1000px
            background: url('../media/tree1.svg') no-repeat
            background-size: 70%
            background-position: left
            @media screen and (max-width: $screenbreak)
                background-size: 82%
    .context
        font-family: 'plexi', sans-serif
        z-index: 1000
        position: absolute
        +flex(flex, column wrap, flex-start)
        text-align: center
        width: 100%
        height: 100vh
        .heading
            color: #FFF
            font-size: 10em
            @media screen and (max-width: $screenbreak)
                margin-top: 1em
                font-size: 10em
            @media screen and (max-width: 1400px)
                margin-top: .5em
                font-size: 5em
