

$screenbreak : 1050px

@font-face
    font-family: plexi
    src: url(../media/plexifont.ttf)


=flex($type, $direction, $position)
    display: $type
    flex-flow: $direction
    justify-content: $position

body
    +flex(flex, column wrap, flex-start)
    background: radial-gradient(lighten(#283E40, 5%) , #000)
    .art
        color: #FFF
        +flex(flex, column wrap, center)
        width: 100%
        height: 100vh
        .land
            z-index: 100
            position: absolute
            width: 100%
            height: 100vh
            background: url('../media/land.svg') no-repeat
            background-size: 100%
            background-position: 0% 50%
            @media screen and (max-width: $screenbreak)
                background-position: 50% 100%
    .context
        font-family: 'plexi', sans-serif
        z-index: 1000
        position: absolute
        +flex(flex, column wrap, flex-start)
        text-align: center
        width: 100%
        height: 100vh
        .heading
            color: #FFF
            font-size: 10em
